<<<<<<< HEAD
        /* Estilo para el contenedor azul */
        .support-container {
          float: right;
            background-color: #3498db;
            color: #ffffff;
            text-align: center;
            border-top-left-radius: 30px; 
            border-bottom-right-radius: 30px;
            width: 300px; 
            height: 450px;
        }

      
        /* Estilo para el botón */
        .support-button {
            background-color: #ffffff;
            color: #3498db;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }
        header {
          text-align: center; 
        }

        h1 {
          font-size: 24px; 
          color: #333; 
        }

        .linea-encabezado {
          border: none; 
          border-top: 2px solid #001f3f; 
          width: 50%; 
          margin: 10px auto; 
        }


.faq-and-form-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 200px; 
    max-width: 1000px; 
    margin: 0 auto; 
  }
/* Estilos para preguntas frecuentes */
.faq-container {
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #f0f0f0; 
    max-width: 550px;
    margin-left: 55px;
    padding: 20px;
  }
  
  .faq-question {
    margin-bottom: 10px;
  }
  
  .faq-toggle {
    display: none;
  }
  
  .faq-answer {
    display: none;
    background-color: #025E80; 
    padding: 10px;
    max-width: 550px;
  }
  
  .faq-toggle:checked + label + .faq-answer {
    display: block;
  }
  
  .faq-question label {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0; 
    text-align: center; 
  }
  /* Estilos para el formulario de contacto de soporte */
.support-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #f0f0f0;
    margin-bottom: 100px;
    margin-top: 150px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-top: 5px;
  }
  
  small {
    display: block;
    color: #888;
    margin-top: 5px;
  }
  
  button {
=======

/* Estilos para el formulario de contacto de soporte */
.support-form-container {
    max-width: 500px;
    margin: 0 auto;
  
    border: none;
    margin-bottom: 150px;
    margin-top: 75px;
     
  }
  
  /* Estilos adicionales para el formulario */
  .contact-form h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilos para el contenedor de soporte */
  .support-container {
    float: right;
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    margin-right: 150px;
    border-bottom-right-radius: 30px;
    width: 300px;
    height: 450px;
    
    margin-top: 50px; /* Reduce el margen superior */
}
  /* Estilos para el botón de soporte */
  .support-button {
    background-color: #ffffff;
    color: #3498db;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* transición suave */
  }
  
  .support-button:hover {
    background-color: #e0e0e0;
  }
  
  /* Alineación y estilo para la sección de contacto */
  #contact {
    text-align: center;
  }
  
    /* Estilo para el botón de enviar mensaje */
  .contact-form button {
>>>>>>> develop
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
<<<<<<< HEAD
  }
  
  button:hover {
    background-color: #0056b3;
  }

=======
    transition: background-color 0.3s ease; 
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
/* Estilos para la sección de mapa */
#intro {
  
  margin-top: 50px;
}

/* Estilos para el mapa */
iframe {
 
  width: 100%;
  height: 300px;
  border: none;
  margin-top: 20px;
  margin: 0 auto; /* Centra el mapa horizontalmente */
}
  
  /* Estilos para la dirección del mapa */
  #intro p {
    font-size: 18px;
    color: #555;
  }
  
  /* Estilos para el formulario de contacto */
  .contact-form {
    margin-top: 50px;
    margin-left: 150px; /* Aumenta el margen izquierdo */
    background-color: #f5f5f5; /* Color de fondo gris claro */
    max-width: 800px; /* Aumenta el ancho máximo del contenedor */
    margin-bottom: 20px; /* Ajusta el espacio inferior */
   
    padding: 20px; /* Aumenta el espaciado interno */
}
  
  /* Estilo para el título de soporte */
  .support-container h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  /* Estilo para el párrafo de soporte */
  .support-container p {
    font-size: 16px;
    color: #f0f0f0;
    margin-top: 20px;
  }
  
  /* Estilos para el título del mapa */
  #intro p {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
  }
  
/* Estilos para preguntas frecuentes */
.faq-container {
  margin-top: 50px;
  margin-bottom: 75px;
  background-color: #f0f0f0; 
  max-width: 1000px; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 40px; 
}

.faq-container h2{
 margin-bottom: 15px;
}

.faq-question {
  margin-bottom: 20px; 
}

.faq-toggle {
  display: none;
}

.faq-answer {
  display: none;
  background-color: #92C5f2; 
  padding: 15px; 
  max-width: 925px;
  text-align: justify;
  margin-left: auto; /* Centra automáticamente la respuesta */
  margin-right: auto; /* Centra automáticamente la respuesta */
}

.faq-toggle:checked + label + .faq-answer {
  display: block;
}

.faq-question label {
  cursor: pointer;
  padding: 15px; 
  background-color: #f0f0f0; 
  text-align: center; 
}

/* Estilos para el formulario de contacto de soporte */
.support-form-container {
  max-width: 820px; /* Aumenta el ancho del contenedor */
  padding: 50px; /* Ajusta el espaciado interno */
  background-color: #f5f5f5; /* Color de fondo gris claro */
  margin-bottom: 100px; /* Ajusta el espacio inferior */
  margin-top: 50px;
}

  .form-group {
    margin-bottom: 10px; /* Reducido el margen inferior */
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  margin-top: 5px;
}

small {
  display: block;
  color: #888;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.additional-message {
    font-size: 32px;
    color: #555;
    margin-top: 20px;
    text-align: center;
  }

  .support-header {
    
    text-align: center;
    margin-bottom: 10px;
  }
  
  .blue-line {
    border: 2px solid navy;
    width: 50%;
    margin: 0 auto;
  }
  .contact-header {
   
    text-align: center;
    margin-bottom: 20px;
  }
>>>>>>> develop
  